@import "./quasar.variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.q-menu {
  border-radius: 16px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}
